<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>FractalGames</title>
    </head>
    <body>
        <section th:fragment="juegos">
            <div class="grid-layout">
                <div class="caja c1">
                    <div class="imag-container">
                        <img src="/img/Nintendo-Logo.jpg" alt="">
                            <img src="/img/Logo-xbox.jpg" alt="">
                                <img src="/img/playstation.jpg" alt="">
                                    <img src="/img/644.png" alt="">                 
                                        </div>
                                        </div>
                                        <div class="caja c2">
                                            <h2> Filtrar por precio</h2>
                                            <button2>Precio: $1,00- $20,00</button2>
                                            <button2>Precio: $20,00- $30,00</button2>
                                            <button2>Precio: $30,00- $40,00</button2>
                                            <button2>Precio: $40,00- $50,00</button2>

                                            <div class="imag-container">
                                                <a th:href="@{/index}" class="navbar-brand logo-home nav justify-content-end">
                                                    <img class="img-logo"src="/img/logo.jpg" alt="logo"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cajaO oo3">
                                            <h2>Juegos</h2>
                                        </div>
                                        <div class="caja c3">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/DragonBallXenoverse2.jpg" alt="">
                                                </div>
                                                <p class="descripcion">Dragon Ball Xenoverse 2</p>
                                                <span class="precio">$ 37.99</span>
                                                <button data-id="1" onclick="agregarAlCarrito(this)">Añadir al carrito</button>

                                            </div>
                                        </div>
                                        <div class="caja c4">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/StreetFighter.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Street Fighter</p>
                                                    <span class="precio">$27.00</span>
                                                    <button data-id="2" onclick="agregarAlCarrito(this)">Añadir al carrito</button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c5">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/AssassinsCreedIVBlackFlag.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Assassins Creed IV Black Flag</p>
                                                    <span class="precio">$39.00</span>
                                                    <button data-id="3" onclick="agregarAlCarrito(this)">Añadir al carrito</button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c6">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\God-of-War-2.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">God of War 2</p>
                                                    <span class="precio">$27.00</span>
                                                    <button data-id="4" onclick="agregarAlCarrito(this)">Añadir al carrito</button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c7">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\HD-wallpaper-Kylian-mbappe-fifa-22.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">FIFA 22</p>
                                                    <span class="precio">$39.00</span>
                                                    <button data-id="5" onclick="agregarAlCarrito(this)">Añadir al carrito</button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c8">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\metroid.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Metroid</p>
                                                    <span class="precio">$49,99</span>
                                                    <button data-id="6" onclick="agregarAlCarrito(this)">Añadir al carrito</button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c9">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\detective-pikachu-2.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Detective Pikachu 2</p>
                                                    <span class="precio">$21.99</span>
                                                    <button data-id="7" onclick="agregarAlCarrito(this)">Añadir al carrito</button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c10">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\Nier_Automata_cover_art.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Nier Automata</p>
                                                    <span class="precio">$27.00</span>
                                                    <button data-id="8" onclick="agregarAlCarrito(this)">Añadir al carrito</button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c11">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\GOTHAM.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Gotham Knights</p>
                                                    <span class="precio">$19.99</span>
                                                    <button data-id="9" onclick="agregarAlCarrito(this)">Añadir al carrito</button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c12">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\TheQuarry.jpeg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">The Quarry</p>
                                                    <span class="precio">$39.00</span>
                                                    <button data-id="10" onclick="agregarAlCarrito(this)">Añadir al carrito</button>

                                                </div>
                                            </div>
                                        </div>
                                        <script src="/js/juegos.js"></script>
                                        <script>
                                            function agregarAlCarrito(productoId) {
                                                const usuarioId = 1; // Usuario por defecto con id 1

                                                fetch('/agregarAlCarrito', {
                                                    method: 'POST',
                                                    headers: {
                                                        'Content-Type': 'application/json',
                                                    },
                                                    body: JSON.stringify({
                                                        productoId: productoId,
                                                        usuarioId: usuarioId
                                                    }),
                                                })
                                                .then(response => response.json())
                                                .then(data => {
                                                    if (data.success) {
                                                        alert('Producto añadido al carrito exitosamente');
                                                    } else {
                                                        alert('Hubo un error al añadir el producto al carrito');
                                                    }
                                                })
                                                .catch((error) => {
                                                    console.error('Error:', error);
                                                    alert('Hubo un error al procesar la solicitud');
                                                });
                                            }
                                        </script>

            </div>
        </section>


    </body>
</html>

