<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>FractalGames</title>
    </head>
    <body>
        <section th:fragment="giftcards">
            <div class="grid-layout">
                <div class="caja c1">
                    <div class="imag-container">
                        <img src="/img/Nintendo-Logo.jpg" alt="">
                            <img src="/img/Logo-xbox.jpg" alt="">
                                <img src="/img/playstation.jpg" alt="">
                                    <img src="/img/644.png" alt="">                 
                                        </div>
                                        </div>
                                        <div class="caja c2">
                                            <h2> Filtrar por precio</h2>
                                            <button1 class="button1" data-min-price="1" data-max-price="20">Precio: $1,00 - $20,00</button1>
                                            <button2 class="button2" data-min-price="20" data-max-price="30">Precio: $20,00 - $30,00</button2>
                                            <button3 class="button3" data-min-price="30" data-max-price="40">Precio: $30,00 - $40,00</button3>
                                            <button4 class="button4" data-min-price="40" data-max-price="50">Precio: $40,00 - $50,00</button4>

                                            <div class="imag-container">
                                                <a th:href="@{/index}" class="navbar-brand logo-home nav justify-content-end">
                                                    <img class="img-logo"src="/img/logo.jpg" alt="logo"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cajaO oo3">
                                            <h2>Tarjetas de regalo</h2>
                                        </div>
                                        <div class="caja c3">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/Giftcards-nintendo.jpg" alt="">
                                                </div>
                                                <p class="descripcion">Tarjeta Nintendo eShop North America</p>
                                                <span class="precio">$10</span>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c4">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/Giftcards-nintendo.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta Nintendo eShop North America</p>
                                                    <span class="precio">$20</span>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c5">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/Giftcards-nintendo.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta Nintendo eShop North America</p>
                                                    <span class="precio">$35</span>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c6">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\Giftcards-nintendo.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta Nintendo eShop North America</p>
                                                    <span class="precio">$50</span>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c7">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\Giftcards-nintendo.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta Nintendo eShop North America</p>
                                                    <span class="precio">$70</span>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c8">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\tarjetade-regalo-xbox-live20.jpeg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta XBOX LIVE</p>
                                                    <span class="precio">$20</span>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c9">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\tarjeta-regalo-xbox50.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta XBOX </p>
                                                    <span class="precio">$50</span>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c10">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\tarjeta-regalo-xbox200.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta XBOX</p>
                                                    <span class="precio">$200</span>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c11">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\tarjeta-regalo-play20.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta PlayStation</p>
                                                    <span class="precio">$20</span>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c12">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\tarjeta-regalo-play50.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta PlayStation</p>
                                                    <span class="precio">$50</span>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <script src="/js/juegos.js"></script>
                                        <script src="/js/filtrosG.js"></script>

                                        </div>
                                        </section>


                                        </body>
                                        </html>
