<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>FractalGames</title>
    </head>
    <body>
        <section th:fragment="soporte">
            <div class="container">
                <div class="cont-login">
                    <div class="row justify-content-center">
                        <div class="align-items-center">
                            <h1 class="text-center titu-reg">Soporte</h1>
                            <form th:action="@{/soporte/guardar}" method="post" th:object="${soporte}">
                                <div class="form-group">
                                    <label class="control-label" for="nombre">Nombre:</label>
                                    <input id="nombre" type="text" class="form-control" th:field="*{nombre}" required autofocus="autofocus">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="email">Email:</label>
                                    <input id="email" type="email" class="form-control" th:field="*{email}" required>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="razon">Razón:</label>
                                    <input id="razon" type="text" class="form-control" th:field="*{razon}" required>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="mensaje">Mensaje:</label>
                                    <textarea id="mensaje" class="form-control" th:field="*{mensaje}" required></textarea>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-success" name="enviar">Enviar solicitud</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>

