@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:wght@400;600&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%; 
    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px; /* con esta 1 rem = 10px*/
    /*hasta aqui*/
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}




/*navegacion*/


.barra-nav{
    background: black;
    width: 100%;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
}


.menu-left {
    justify-content: flex-start; /* Alinea a la izquierda */
}

.menu-right {
    justify-content: flex-end; /* Alinea a la derecha */
}

.menu-opciones a{
    color: white;
    font-size: 1.5rem;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.5rem;
}

.btn-white {
    background-color: rgba(0,0,0,0);
    color: white; 
    font-size: 1.5rem;
    height: 100%;
    padding: 1rem;
    margin-right: 0.5rem;
    border: none;
      
}
.logo-home{
    margin-left: 0px;
    margin-right: 1rem;
}


.img-logo {
    max-height: 30px;
    
}

.input-group {
    border-radius: 20px;
    
}

.input-group .form-control {
    border: 1px solid lightgray;
    background-color: rgba(220, 220, 220, 0.2);
    border-radius: 5rem;
    text-align: left;
}
.menu-opciones .nav-link:hover {
    transform: scale(1.1);
    color: white;
}
.navbar-nav .btn:hover {
    background-color: transparent !important;
    color: white !important;
    transform: scale(1.1);
}
.menu-opciones li.nav-item {
    display: flex;
    align-items: center;
}

.menu-opciones li.nav-item a {
    margin-bottom: 0;
}

/*BODY*/

body{
    background: black;
}

.error-message {
    color: red;  
    font-size: 14px;
    margin-bottom: 20px;
}




/*register*/
.container {
    margin: 0 auto;
    width: 100%;
}

.cont-register {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.cont-login{
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.container form {
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 30px;
    max-width: 50rem;
    margin: 0 auto;
}

.control-label{
    font-size: 1.5rem;
    color: white;
}
.titu-reg{
    color: white;
}

.container form input,
.container form select,
.container form textarea {
    font-size: 1.5rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.container form button[type="submit"] {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    padding: 1rem 1rem;
}

.container form a, span{
    color: white;
    margin-left: 1rem;
    font-size: 1rem;
}
.container form a{
    text-decoration: underline;
    margin-left: 0rem;
}

.container form a:hover {
    text-decoration: none;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*login*/

.container form .form-group {
    width: 80%; /* Modifica el valor de width según tus preferencias */
    margin: 0 auto;
}



/*footer*/
footer{
    background: black;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}