<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>FractalGames</title>
    </head>
    <body>
        <section th:fragment="giftcards">
            <div class="grid-layout">
                <div class="caja c1">
                    <div class="imag-container">
                        <img src="/img/Nintendo-Logo.jpg" alt="">
                            <img src="/img/Logo-xbox.jpg" alt="">
                                <img src="/img/playstation.jpg" alt="">
                                    <img src="/img/644.png" alt="">                 
                                        </div>
                                        </div>
                                        <div class="caja c2">
                                            <h2> Filtrar por precio</h2>
                                            <button1 class="button1" data-min-price="1" data-max-price="20">Precio: $1,00 - $20,00</button1>
                                            <button2 class="button2" data-min-price="20" data-max-price="30">Precio: $20,00 - $30,00</button2>
                                            <button3 class="button3" data-min-price="30" data-max-price="40">Precio: $30,00 - $40,00</button3>
                                            <button4 class="button4" data-min-price="40" data-max-price="50">Precio: $40,00 - $50,00</button4>

                                            <div class="imag-container">
                                                <a th:href="@{/index}" class="navbar-brand logo-home nav justify-content-end">
                                                    <img class="img-logo"src="/img/logo.jpg" alt="logo"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cajaO oo3">
                                            <h2>Inicio</h2>
                                        </div>

                                        <div class="caja c3">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/Giftcards-nintendo.jpg" alt="">
                                                </div>
                                                <p class="descripcion">Tarjeta Nintendo eShop North America</p>
                                                <span class="precio">$10</span>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c4">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/Giftcards-nintendo.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta Nintendo eShop North America</p>
                                                    <span class="precio">$20</span> 
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c5">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/Giftcards-nintendo.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta Nintendo eShop North America</p>
                                                    <span class="precio">$35</span>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>

                                        <div class="caja c6">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\tarjetade-regalo-xbox-live20.jpeg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta XBOX LIVE</p>
                                                    <span class="precio">$20</span>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c7">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\tarjeta-regalo-xbox50.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta XBOX </p>
                                                    <span class="precio">$50</span>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>

                                        <div class="caja c8">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\tarjeta-regalo-play20.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta PlayStation</p>
                                                    <span class="precio">$20</span> 
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c9">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\tarjeta-regalo-play50.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta PlayStation</p>
                                                    <span class="precio">$50</span>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c10">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/DragonBallXenoverse2.jpg" alt="">
                                                </div>
                                                <p class="descripcion">Dragon Ball Xenoverse 2</p>
                                                <span class="precio">$ 37.99</span>
                                                <div class="texto-overlay">
                                                    <p style="font-size: 12px;">Dragon Ball Xenoverse 2 es un videojuego desarrollado por Dimps y 
                                                        publicado por Bandai Namco Entertainment, basado en la franquicia 
                                                        de Dragon Ball.​​​ Es la secuela de Dragon Ball Xenoverse, y se publicó 
                                                        en otoño de 2016 para PlayStation 4, Xbox One, Microsoft Windows y 
                                                        Nintendo Switch.</p>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c11">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/StreetFighter.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Street Fighter</p>
                                                    <span class="precio">$27.00</span>
                                                    <div class="texto-overlay">
                                                        <p style="font-size: 12px;">Street Fighter es una serie de videojuegos de 
                                                            lucha creada por la empresa japonesa Capcom. El primer título, Street Fighter, 
                                                            apareció en el año 1987 en Arcade y gozó de cierta popularidad, pero fue su continuación, 
                                                            Street Fighter II, la que causó una verdadera revolución y provocó el boom de los juegos de 
                                                            lucha en salones recreativos.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c12">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/AssassinsCreedIVBlackFlag.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Assassins Creed IV Black Flag</p>
                                                    <span class="precio">$39.00</span>
                                                    <div class="texto-overlay">
                                                        <p style="font-size: 12px;">Assassin's Creed IV: Black Flag es un videojuego de 
                                                            acción y aventura y sigilo desarrollado por Ubisoft Montreal y publicado por Ubisoft. 
                                                            Es la sexta entrega principal de la serie Assassin's Creed.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c13">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\God-of-War-2.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">God of War 2</p>
                                                    <span class="precio">$27.00</span>
                                                    <div class="texto-overlay">
                                                        <p style="font-size: 12px;">God of War II es un videojuego de acción y 
                                                            aventuras desarrollado por Santa Monica Studio y publicado por Sony 
                                                            Computer Entertainment.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c14">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\HD-wallpaper-Kylian-mbappe-fifa-22.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">FIFA 22</p>
                                                    <span class="precio">$39.00</span>
                                                    <div class="texto-overlay">
                                                        <p style="font-size: 12px;">FIFA 22 es un videojuego sobre fútbol desarrollado por EA Vancouver y EA Romania, 
                                                            siendo publicado por EA Sports. Está disponible para PlayStation 4, PlayStation 5, Xbox Series X/S, Xbox One, 
                                                            Microsoft Windows, Google Stadia, y Nintendo Switch.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c15">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\metroid.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Metroid</p>
                                                    <span class="precio">$49,99</span>
                                                    <div class="texto-overlay">
                                                        <p style="font-size: 12px;">Metroid es una serie de videojuegos de acción-aventura, cuya 
                                                            idea fue concebida por Makoto Kano y el artista Hiroji Kiyotake a principios de la década 
                                                            de 1980, ​ dirigida originalmente por Gunpei Yokoi y distribuida internacionalmente por Nintendo, 
                                                            una empresa de videojuegos japonesa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c16">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\detective-pikachu-2.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Detective Pikachu 2</p>
                                                    <span class="precio">$21.99</span>
                                                    <div class="texto-overlay">
                                                        <p style="font-size: 12px;">Detective Pikachu 2 es la segunda parte del título de investigación y del 
                                                            género de detectives lanzado para Nintendo 3DS. En esta ocasión, el Pokémon deberá llevar sus pesquisas a 
                                                            Nintendo Switch, en una secuela que nos presentará más casos, dosis de humor ácido y un mejorado apartado gráfico.
                                                            También conocido como Detective Pikachu 2, Detective Pikachu Returns.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="caja c17">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\Nier_Automata_cover_art.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Nier Automata</p>
                                                    <span class="precio">$27.00</span>
                                                    <div class="texto-overlay">
                                                        <p style="font-size: 12px;">NieR:Automata es un videojuego de rol de acción desarrollado por 
                                                            PlatinumGames y publicado por Square Enix para PlayStation 4, Microsoft Windows y Xbox One, 
                                                            así como para Nintendo Switch.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <script src="/js/juegos.js"></script>
                                        <script src="/js/filtrosI.js"></script>
                                        </div>
                                        </section>
                                        </body>
                                        </html>
