<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>FractalGames</title>
    </head>
    <body>
        <section th:fragment="giftcards">
            <div class="grid-layout">
                <div class="caja c1">
                    <div class="imag-container">
                        <img src="/img/Nintendo-Logo.jpg" alt="">
                            <img src="/img/Logo-xbox.jpg" alt="">
                                <img src="/img/playstation.jpg" alt="">
                                    <img src="/img/644.png" alt="">                 
                                        </div>
                                        </div>
                                        <div class="caja c2">
                                            <h2> Filtrar por precio</h2>
                                            <button2>Precio: $1,00- $20,00</button2>
                                            <button2>Precio: $20,00- $30,00</button2>
                                            <button2>Precio: $30,00- $40,00</button2>
                                            <button2>Precio: $40,00- $50,00</button2>

                                            <div class="imag-container">
                                                <a th:href="@{/index}" class="navbar-brand logo-home nav justify-content-end">
                                                    <img class="img-logo"src="/img/logo.jpg" alt="logo"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cajaO oo3">
                                            <h2>Inicio</h2>
                                        </div>

                                        <div class="caja c3">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/Giftcards-nintendo.jpg" alt="">
                                                </div>
                                                <p class="descripcion">Tarjeta Nintendo eShop North America</p>
                                                <span class="precio">$10</span>
                                                <button>Añadir al carrito</button>
                                            </div>
                                        </div>
                                        <div class="caja c4">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/Giftcards-nintendo.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta Nintendo eShop North America</p>
                                                    <span class="precio">$20</span>
                                                    <button>Añadir al carrito</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c5">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/Giftcards-nintendo.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta Nintendo eShop North America</p>
                                                    <span class="precio">$35</span>
                                                    <button>Añadir al carrito</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="caja c6">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\tarjetade-regalo-xbox-live20.jpeg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta XBOX LIVE</p>
                                                    <span class="precio">$20</span>
                                                    <button>Añadir al carrito</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c7">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\tarjeta-regalo-xbox50.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta XBOX </p>
                                                    <span class="precio">$50</span>
                                                    <button>Añadir al carrito</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="caja c8">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\tarjeta-regalo-play20.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta PlayStation</p>
                                                    <span class="precio">$20</span>
                                                    <button>Añadir al carrito</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c9">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\tarjeta-regalo-play50.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Tarjeta PlayStation</p>
                                                    <span class="precio">$50</span>
                                                    <button>Añadir al carrito</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c10">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/DragonBallXenoverse2.jpg" alt="">
                                                </div>
                                                <p class="descripcion">Dragon Ball Xenoverse 2</p>
                                                <span class="precio">$ 37.99</span>
                                                <button>Añadir al carrito</button>
                                            </div>
                                        </div>
                                        <div class="caja c11">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/StreetFighter.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Street Fighter</p>
                                                    <span class="precio">$27.00</span>
                                                    <button>Añadir al carrito</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c12">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/AssassinsCreedIVBlackFlag.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Assassins Creed IV Black Flag</p>
                                                    <span class="precio">$39.00</span>
                                                    <button>Añadir al carrito</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c13">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\God-of-War-2.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">God of War 2</p>
                                                    <span class="precio">$27.00</span>
                                                    <button>Añadir al carrito</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c14">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\HD-wallpaper-Kylian-mbappe-fifa-22.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">FIFA 22</p>
                                                    <span class="precio">$39.00</span>
                                                    <button>Añadir al carrito</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c15">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\metroid.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Metroid</p>
                                                    <span class="precio">$49,99</span>
                                                    <button>Añadir al carrito</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c16">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\detective-pikachu-2.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Detective Pikachu 2</p>
                                                    <span class="precio">$21.99</span>
                                                    <button>Añadir al carrito</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caja c17">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\Nier_Automata_cover_art.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Nier Automata</p>
                                                    <span class="precio">$27.00</span>
                                                    <button>Añadir al carrito</button>
                                                </div>
                                            </div>
                                        </div>

                                        <script src="/js/juegos.js"></script>
                                        </div>
                                        </section>


                                        </body>
                                        </html>
