<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>FractalGames</title>
    </head>
    <body>
        <section th:fragment="ofertas">
            <div class="grid-layout">
                <div class="cajaO o1">
                    <div class="imag-container">
                        <img src="/img/Nintendo-Logo.jpg" alt="">
                            <img src="/img/Logo-xbox.jpg" alt="">
                                <img src="/img/playstation.jpg" alt="">
                                    <img src="/img/644.png" alt="">                 
                                        </div>
                                        </div>
                                        <div class="cajaO o2">
                                            <h2> Filtrar por precio</h2>
                                            <button2>Precio: $1,00- $20,00</button2>
                                            <button2>Precio: $20,00- $30,00</button2>
                                            <button2>Precio: $30,00- $40,00</button2>
                                            <button2>Precio: $40,00- $50,00</button2>

                                            <div class="imag-container">
                                                <a th:href="@{/index}" class="navbar-brand logo-home nav justify-content-end">
                                                    <img class="img-logo"src="/img/logo.jpg" alt="logo"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cajaO o3">
                                            <h2>10% de descuento</h2>
                                        </div>
                                        <div class="cajaO o4">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="/img/DragonBallXenoverse2.jpg" alt="">
                                                </div>
                                                <p class="descripcion">Dragon Ball Xenoverse 2</p>
                                                <span class="precioO">Antes: $37.99</span>
                                                <span class="descuento">%10</span>
                                                <span class="precioNuevo">$ 34.19</span>
                                                <div class="texto-overlay">
                                                    <p style="font-size: 12px;">Dragon Ball Xenoverse 2 es un videojuego desarrollado por Dimps y 
                                                        publicado por Bandai Namco Entertainment, basado en la franquicia 
                                                        de Dragon Ball.​​​ Es la secuela de Dragon Ball Xenoverse, y se publicó 
                                                        en otoño de 2016 para PlayStation 4, Xbox One, Microsoft Windows y 
                                                        Nintendo Switch.</p>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="cajaO o5">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\HD-wallpaper-Kylian-mbappe-fifa-22.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">FIFA 22</p>
                                                    <span class="precioO">Antes: $39.00</span>
                                                    <span class="descuento">%10</span>
                                                    <span class="precioNuevo">$35.00</span>
                                                    <div class="texto-overlay">
                                                        <p style="font-size: 12px;">FIFA 22 es un videojuego sobre fútbol desarrollado por EA Vancouver y EA Romania, 
                                                            siendo publicado por EA Sports. Está disponible para PlayStation 4, PlayStation 5, Xbox Series X/S, Xbox One, 
                                                            Microsoft Windows, Google Stadia, y Nintendo Switch.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="cajaO o6">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\TheQuarry.jpeg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">The Quarry</p>
                                                    <span class="precioO">Antes: $39.00</span>
                                                    <span class="descuento">%10</span>
                                                    <span class="precioNuevo">$35.00</span>
                                                    <div class="texto-overlay">
                                                        <p style="font-size: 12px;">The Quarry es un videojuego de terror y drama interactivo desarrollado por 
                                                            Supermassive Games y publicado por 2K Games. Es el sucesor espiritual de Until Dawn y se lanzó para 
                                                            Windows, PlayStation 4, PlayStation 5, Xbox One y Xbox Series X/S.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="cajaO o7">
                                            <h2>5% de descuento</h2>
                                        </div>
                                        <div class="cajaO o8">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\metroid.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Metroid</p>
                                                    <span class="precioO">Antes: $49.99</span>
                                                    <span class="descuento">%5</span>
                                                    <span class="precioNuevo">$47.49</span>
                                                    <div class="texto-overlay">
                                                        <p style="font-size: 12px;">Metroid es una serie de videojuegos de acción-aventura, cuya 
                                                            idea fue concebida por Makoto Kano y el artista Hiroji Kiyotake a principios de la década 
                                                            de 1980, ​ dirigida originalmente por Gunpei Yokoi y distribuida internacionalmente por Nintendo, 
                                                            una empresa de videojuegos japonesa.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>
                                        <div class="cajaO o10">
                                            <div class="item">
                                                <div class="contenedor-foto">
                                                    <img src="\img\Nier_Automata_cover_art.jpg" alt="producto">
                                                </div>
                                                <div class="info-product">
                                                    <p class="descripcion">Nier Automata</p>
                                                    <span class="precioO">Antes: $27.00</span>
                                                    <span class="descuento">%5</span>
                                                    <span class="precioNuevo">$25.65</span>
                                                    <div class="texto-overlay">
                                                        <p style="font-size: 12px;">NieR:Automata es un videojuego de rol de acción desarrollado por 
                                                            PlatinumGames y publicado por Square Enix para PlayStation 4, Microsoft Windows y Xbox One, 
                                                            así como para Nintendo Switch.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button>Añadir al carrito</button>
                                        </div>

                                        <script src="/js/juegos.js"></script>
                                        </div>
                                        </section>


                                        </body>
                                        </html>